/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styling */
header {
    background-color: darkblue;
    color: white;
    padding: 16px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation Styling */
nav {
    background-color: steelblue;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #003366;
}

/* Main Content Styling */
main {
    max-width: 840px;
    margin: 20px auto;
    padding: 10px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 10px gray;
    display: block;
    margin-bottom: 10px;
}

/* Aside Styling */
aside {
    width: 20rem;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 10px gray;
    margin-bottom: 10px;
}

/* Paragraph Styling */
p {
    padding: 0;
}

/* Footer Styling */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px 0;
    background-color: #ddd;
}
